@model OPT.Entidad.OPT_Cliente
@{
    var Fonasa = Model.TipoPrevision == "FONASA" ? "selected" : "";
    var Isapre = Model.TipoPrevision == "ISAPRE" ? "selected" : "";


    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" action="@Url.Action("Edit","Cliente",new {area="Clientes" })">
    @Html.AntiForgeryToken()
    <input type="hidden" id="RutCliente" name="RutCliente" value="@Model.RutCliente" />
    <input type="hidden" id="FechaIngreso" name="FechaIngreso" value="@Model.FechaIngreso" />
    <div class="card  border-primary">
        <h4 class="card-header alert-primary"><i class="fa fa-edit"></i> Editar Cliente</h4>
        <div class="card-body">

            <div class="form-row">
                <div class="col-sm-4">
                    <label>Rut</label>
                    <input type="text" value="@Model.RutCliente" class="form-control form-control-sm" readonly required>
                </div>
                <div class="col-sm-4">
                    <label>Nombre</label>
                    <input type="text" id="Nombre" name="Nombre" value="@Model.Nombre" class="form-control form-control-sm" data-tipo="Alfa" maxlength="100" required>
                </div>
                <div class="col-sm-4">
                    <label>Fecha Nacimiento</label>
                    <input type="text" id="FechaNacimiento" name="FechaNacimiento" value="@(Model.FechaNacimiento==null? "": DateTime.Parse(Model.FechaNacimiento.ToString()).ToShortDateString())" class="form-control form-control-sm" maxlength="10" autocomplete="off" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <label>Previsión</label>
                    <select id="TipoPrevision" name="TipoPrevision" class="form-control form-control-sm" required>
                        <option value="FONASA" @Fonasa>FONASA</option>
                        <option value="ISAPRE" @Isapre>ISAPRE</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <label>Empresa</label>
                    @Html.DropDownList("idEmpresa", (SelectList)ViewBag.Empresa, "--- SELECCIONAR ---", new { @class = "form-control form-control-sm", @required = "required" })
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <label>Direccion</label>
                    <input type="text" id="Direccion" name="Direccion" value="@Model.Direccion" class="form-control form-control-sm" data-tipo="AlfaNumeric" maxlength="100">
                </div>
                <div class="col-sm-4">
                    <label>Region</label>
                    @Html.DropDownList("idRegion", (SelectList)ViewBag.Region, "--- SELECCIONAR ---", new { @class = "form-control form-control-sm", @required = "required" })
                </div>
                <div class="col-sm-4">
                    <label>Comuna</label>
                    @Html.DropDownList("idComuna", (SelectList)ViewBag.Comuna, "--- SELECCIONAR ---", new { @class = "form-control form-control-sm", @required = "required" })
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <label>Celular</label>
                    <input type="text" id="Celular" name="Celular" value="@Model.Celular" class="form-control form-control-sm" data-tipo="SoloNumero" maxlength="10">
                </div>
                <div class="col-sm-4">
                    <label>Mail</label>
                    <input type="text" id="Mail" name="Mail" value="@Model.Mail" class="form-control form-control-sm" data-tipo="Email" maxlength="50">
                </div>
                <div class="col-sm-4">
                    <label>Fecha Ingreso</label>
                    <input type="text" value="@(DateTime.Parse(Model.FechaIngreso.ToString()).ToShortDateString())" class="form-control form-control-sm" readonly>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <a href="@Url.Action("Index","Cliente",new {area="Clientes" })" class="btn btn-sm btn-danger"><i class="fa fa-arrow-left"></i> Volver</a>
                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Actualizar</button>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{

    <script src="~/Scripts/js/ValidaUtil.js?v=3"></script>
    <script src="~/Areas/Clientes/Scripts/Cliente.Create.js?v=3"></script>
    <script type="text/javascript">
            ObjCliente.UrlComuna = "@Url.Action("Comuna","Util",new {area="" })";
    </script>

}




