@model OPT.Entidad.OPT_Sucursal
@{
    Layout = null;
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="formCrear" action="@Url.Action("Edit","Sucursal",new {area="Administrar" })">
                @Html.AntiForgeryToken()
                <input type="hidden" id="idSucursal" name="idSucursal" value="@Model.idSucursal" />
                <div class="modal-header alert-primary">
                    <h5 class="modal-title"><i class="fa fa-store-alt"></i> EDITAR SUCURSAL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-sm-4">
                            <label>Nombre</label>
                            <input type="text" id="Nombre" name="Nombre" value="@Model.Nombre" class="form-control form-control-sm" maxlength="50" required />
                        </div>
                        <div class="col-sm-4">
                            <label>Telefono</label>
                            <input type="text" id="Telefono" name="Telefono" value="@Model.Telefono" class="form-control form-control-sm" maxlength="50">
                        </div>
                        <div class="col-sm-4">
                            <label>Fecha Registro</label>
                            <input type="text" id="FechaRegistro" name="FechaRegistro" value="@Model.FechaRegistro.ToString("dd/MM/yyyy")" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-4">
                            <label>Matriz</label>
                            <select id="Matriz" name="Matriz" class="form-control" required>
                                <option> --- SELECCIONAR --- </option>
                                <option value="true" @if (Model.Matriz) { @Html.Raw("selected") }> SI </option>
                                <option value="false" @if (Model.Matriz == false) { @Html.Raw("selected") }> NO </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label>Clientes</label>
                            @Html.DropDownList("idEmpresa", ViewBag.ComboEmpresa as IEnumerable<SelectListItem>, new { @class = "form-control", @required = "required", @data_placeholder = "--- SELECCIONAR ---", @multiple = "multiple" })
                        </div>
                       
                    </div>
                    <div class="form-row">                       
                        <div class="col-sm-8">
                            <label>Dirección</label>
                            <input type="text" id="Direccion" name="Direccion" value="@Model.Direccion" class="form-control form-control-sm" maxlength="100" placeholder="Direccion - Comuna" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>
